@tailwind base;
@tailwind components;
@tailwind utilities;


.icon{
  display:flex;
  align-items:center;
  justify-content:center;
 }

.fancy-undeline {
    background-image: linear-gradient(120deg, #232526,#414345 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 50%;
    transition: background-size 0.25s ease-in;
  }

  .fancy-undeline:hover {
    background-size: 100% 88% !important;
  }

  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 103.78571428571428,130.89285714285714 207.57142857142856,136.78571428571428 350,145 C 492.42857142857144,153.21428571428572 673.4999999999999,163.75 781,151 C 888.5000000000001,138.25 922.4285714285713,102.21428571428571 1020,94 C 1117.5714285714287,85.78571428571429 1278.7857142857142,105.39285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 98.10714285714286,136.39285714285714 196.21428571428572,147.78571428571428 306,160 C 415.7857142857143,172.21428571428572 537.2499999999999,185.25 668,169 C 798.7500000000001,152.75 938.7857142857144,107.21428571428572 1069,95 C 1199.2142857142856,82.78571428571428 1319.6071428571427,103.89285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 93.89285714285714,132.39285714285714 187.78571428571428,139.78571428571428 295,136 C 402.2142857142857,132.21428571428572 522.75,117.25 674,110 C 825.25,102.75 1007.2142857142858,103.21428571428572 1140,107 C 1272.7857142857142,110.78571428571428 1356.392857142857,117.89285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 141.17857142857144,125.57142857142857 282.3571428571429,126.14285714285714 399,121 C 515.6428571428571,115.85714285714286 607.7499999999999,105 701,105 C 794.2500000000001,105 888.6428571428573,115.85714285714286 1012,121 C 1135.3571428571427,126.14285714285714 1287.6785714285713,125.57142857142857 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,125 0,125 C 103.78571428571428,130.89285714285714 207.57142857142856,136.78571428571428 350,145 C 492.42857142857144,153.21428571428572 673.4999999999999,163.75 781,151 C 888.5000000000001,138.25 922.4285714285713,102.21428571428571 1020,94 C 1117.5714285714287,85.78571428571429 1278.7857142857142,105.39285714285714 1440,125 C 1440,125 1440,500 1440,500 Z");
    }
  }


  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 84.78571428571428,262.2142857142857 169.57142857142856,274.42857142857144 295,272 C 420.42857142857144,269.57142857142856 586.4999999999999,252.50000000000003 718,237 C 849.5000000000001,221.49999999999997 946.4285714285716,207.57142857142856 1061,210 C 1175.5714285714284,212.42857142857144 1307.7857142857142,231.21428571428572 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 115,269.5357142857143 230,289.07142857142856 341,277 C 452,264.92857142857144 559.0000000000001,221.25000000000003 694,217 C 828.9999999999999,212.74999999999997 992,247.92857142857144 1121,260 C 1250,272.07142857142856 1345,261.0357142857143 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 125.14285714285714,232.75 250.28571428571428,215.5 357,210 C 463.7142857142857,204.5 552,210.75000000000003 679,225 C 806,239.24999999999997 971.7142857142858,261.5 1105,267 C 1238.2857142857142,272.5 1339.142857142857,261.25 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 98.14285714285714,252.82142857142858 196.28571428571428,255.64285714285717 309,256 C 421.7142857142857,256.35714285714283 549,254.24999999999997 687,248 C 825,241.75000000000003 973.7142857142858,231.35714285714286 1101,231 C 1228.2857142857142,230.64285714285714 1334.142857142857,240.32142857142856 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 84.78571428571428,262.2142857142857 169.57142857142856,274.42857142857144 295,272 C 420.42857142857144,269.57142857142856 586.4999999999999,252.50000000000003 718,237 C 849.5000000000001,221.49999999999997 946.4285714285716,207.57142857142856 1061,210 C 1175.5714285714284,212.42857142857144 1307.7857142857142,231.21428571428572 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
  }

  .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-2{
    0%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 91.89285714285714,379.17857142857144 183.78571428571428,383.35714285714283 319,384 C 454.2142857142857,384.64285714285717 632.75,381.75000000000006 751,380 C 869.25,378.24999999999994 927.2142857142858,377.64285714285717 1032,377 C 1136.7857142857142,376.35714285714283 1288.392857142857,375.67857142857144 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 88.10714285714286,368 176.21428571428572,361 318,359 C 459.7857142857143,357 655.25,360 785,359 C 914.75,358 978.7857142857142,353 1077,355 C 1175.2142857142858,357 1307.607142857143,366 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 101.67857142857142,393.57142857142856 203.35714285714283,412.14285714285717 337,409 C 470.64285714285717,405.85714285714283 636.25,381 753,373 C 869.75,365 937.6428571428571,373.85714285714283 1044,377 C 1150.357142857143,380.14285714285717 1295.1785714285716,377.57142857142856 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 116.96428571428572,360.3571428571429 233.92857142857144,345.7142857142857 340,335 C 446.07142857142856,324.2857142857143 541.2499999999999,317.5 670,334 C 798.7500000000001,350.5 961.0714285714287,390.2857142857143 1095,401 C 1228.9285714285713,411.7142857142857 1334.4642857142858,393.3571428571429 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,375 0,375 C 91.89285714285714,379.17857142857144 183.78571428571428,383.35714285714283 319,384 C 454.2142857142857,384.64285714285717 632.75,381.75000000000006 751,380 C 869.25,378.24999999999994 927.2142857142858,377.64285714285717 1032,377 C 1136.7857142857142,376.35714285714283 1288.392857142857,375.67857142857144 1440,375 C 1440,375 1440,500 1440,500 Z");
    }
  }

.svgbg{
background-color: #555555;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23555555'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%232b2b2b'/%3E%3Cstop offset='1' stop-color='%23555555'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-97.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fit;
background-size: cover;
}